html,body {
	height:100%;
	background-color: #fffbbf
}

.carousel,.item,.active{
	height: 70%;
	background: #F1EFE2;
}

.carousel-inner{
	height:100%;
}

.carousel-caption {
	position: fixed;
	text-align: left;
	color: #000000;
}

.header-image{
	margin: 0 0 0 50px;
}


.separator{
	height: 15%;
}
/* eto dapat sa left most at right most para di masagad yung carousel kaso di ko mapagana ):
.sep{
	width: 30%;
}

.sep-2{
	left: 100%;
}
*/
#navbar_top{
	/* This is the "sablay" background... and is not dynamic */
	background-image: url("../../img/header_background.png");
    background-size: 70px 70px;
    background-repeat: repeat-x;
	
	background:#550a0a; 
	color: white;
}

.navbar-form{
	margin-top: 23px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.form-control{
	margin-top: 2px;
}

.btn{
	margin-top: 1px;
}

#navbar_bottom{
	position: fixed;
	background:#550a0a; 
}

.nav-brand{
	margin-top: 50px;
	margin-left: -10px;
}

#content {
	width: 95%;
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
}